/*barra de navegacion*/
.navbar{
    padding: 2rem;
    background-color: #846237;
}
.navbar-collapse{
    align-items: center;
    justify-content:space-between;
}
.navbar a{
    color: white;
}
.collapse a{
    font-size: 20px;
}
#logoNav{
    padding-left: 30px;
}


    /*estilo general*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 2.5rem;
}


    /*secion hero*/
#logo{
    display: none;
    width: 150px;
    margin: 12px;
}
.hero::before {
    background-image: url(imagenes/fondo.jpg);
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-size: 100%;
}
#vistaCel{
    display: none;
}

.hero {
    min-height: 400px;
    text-align: center;
}

.heroPrincipal{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
.heroPrincipal h2{
    font-size: 1.5rem; 
    color:black;
}

.heroPrincipal h1{
    font-size: 2.5rem;
    font-family: 'Black Ops One', cursive;
}

.imagen{
    width: 400px;
}
.seccionOscura{
    color: white;
    background-color:#1b1b32 ;
}

/*Seccion sobre nostros*/
.sobreNosotros{
    height: 300px;
    padding: 10px;

}
.contenedor{
    max-width: 800px;
    text-align: center;
}
/*Seccion experiencia*/
.experiencia{
    padding: 40px;
    text-align: center;
}
.seccionClara{
    color: black;
    background-color: white;
}

.expTitulo{
    font-size: 25px;
    font-weight:bold;
    margin: 10px 0;
}
.experiencia i{
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}
.img {
    width: 70px;
}

.badges-contenedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
.badge{
    margin: 5px;
}
.experiencia .columna{
    padding: 20px;
    height: 275px;
    border: 2px solid #8080804d;
}
.experiencia .columna:hover{
    background-color: black;
    color: white;
}
/*seccion Proyectos*/
.proyectos-recientes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    text-align: center;
}
.proyectos-recientes h2{
    font-size: 2.5rem;
    font-family: 'Black Ops One', cursive;
}
.proyectos-recientes img{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}
.proyecto img{
    height: 400px;
}
.proyecto-contenedor{
    padding-top:60px;
    margin-bottom: 40px;
}
.overlay{ 
    transition: 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.proyecto{
    position: relative;
}

.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}
.proyecto:hover img{
    opacity: 0.2;
}


.proyecto:hover .overlay{
    opacity: 1;
}


    /*seccion resposiva*/
@media screen and (max-width: 947px) {
    .navbar-brand{
        display: none;
    }
}
@media screen and (min-width:700px) {
    .imagen{
        max-width: 600px;
    }
    
}

@media screen and (max-width:1200px) {
    .hero{
    background-image: none;
    width: 100%;
    }
    .heroPrincipal{
        padding-bottom: 0%;
    }
    .heroPrincipal li{
       display: none;
     

    }
    #vistaCel{
        display: block;
        padding-left: 0px;
        font-size: 20px;
        float: left;
        list-style-type: none;
      
    }
    #logo{
        display: block;
    }
    .hero::before{
        display: none;
      
    }
    
}


